In [ ]:
name = 'zaid'
x = 10
y = 3
z = 3.14

In [ ]:
del name # delete variable name

## operators
- Arithmetic operators
- Assignment operators
- Comparison operators
- Logical operators
- Identity operators
- Membership operators

In [ ]:
print(x + y)
print(x - y)
print(x * y)
print(x / y)  # float division
print(x // y) # integer division
print(x % y)  # remainder 
print(x ** y) # exponentiation (power)

In [ ]:
a = x + y # assignent
a += 1    # a = a + 1
a -= 1    # a = a - 1
a *= 2    # a = a * 2
a /= 5     # a = a / 5
print(a)

In [ ]:
# comparison operation
print( x > y )
print( x < y )
print( x >= y )
print( x <= y )
print( x == y )
print( x != y )

In [ ]:
# and, or, not
x < y or y < 10

In [ ]:
not x > y

In [ ]:
fruits = ['Apple', 'Banana', 'Cherry']
print('Apple' in fruits)
print('Banana' in fruits)
print('Pomegranate' in fruits)
print('apple' in fruits)

In [ ]:
f = ['Apple', 'Banana', 'Cherry']

In [ ]:
fruits == f # value equality

In [ ]:
fruits is f # reference equality (memory address)

In [ ]:
x = 10
y = 10
# dont check is operator with integer
print(x == y)
print(x is y)

# I/o

In [ ]:
name = input("enter ur name: ")

In [ ]:
city = input("enter ur city: ")
age = input('enter ur age:')
print(name, city, age)

In [ ]:
x = 10
print(type(x))
# convert x to float
x = float(x) # convert x to float and assign it to x
print(x, type(x))
# convert x to string
x = str(x)
print(x, type(x))
# convert to boolean
x = bool(x)
print(x, type(x))
x = str(x)
print(x, type(x))
# x = int(x) # ye nahi hoga
print(x, type(x))

In [27]:
x = int(input('enter a number for A: '))
y = int(input('enter a number for B: '))
print(x + y)

300

In [32]:
print(' Name:',name,'\n', 'Age:',age,'\n', 'City:',city)

 Name: Zaid Kamil
 Age: 100
 City: Lucknow

In [30]:
print('Name:', name)
print('Age:', age)
print('City:', city)

Name: Zaid Kamil
Age: 100
City: Lucknow

In [41]:
print(name, age, city, sep=', ')

Zaid Kamil, 100, Lucknow

In [47]:
print(x, end=' ')
print(y)

100 200

In [53]:
print(f'I live in {city}')

I live in Lucknow

In [58]:
print(f'x={x}, y={y}')
print(f'x ** y => {x**y}')
print(f'x + y => {x+y}')

x=100, y=200
x ** y => 10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
x + y => 300

In [62]:
print(f'{name} {len(name)}')
print(f'{city} {len(city)}')

Zaid Kamil 10
Lucknow 7

In [65]:
print(f'{name:15}{len(name)}')
print(f'{city:15}{len(city)}')

Zaid Kamil     10
Lucknow        7