In [ ]:
raju = [56,90,34,34,56]

raju_dict = {
    'English' : 56,
    'Hindi': 90,
    'Maths': 34,
    'Chemistry': 34,
    'Evs': 56
}
print(raju_dict)

In [ ]:
company = {
    'emp001': {
        'name': "Amar Kumar",
        'designation': 'Assistant III',
        'salary': 32000,
    },
    'emp002':{
        'name': 'Ranu Singh',
        'designation': 'Staff Officer',
        'salary':89000
    },
    'total_emp': 2,
    'department':'Accounts',
    'vacancy': ['clerk','manager','assistant I']
}

In [ ]:
company['name'] = 'Acme inc.' # adding a key and value to dict
print(company)

In [ ]:
company['total_emp'] = 3
company['emp003'] = {
    'name' : 'Ajay verma',
    'designation': 'clerk',
    'salary': 45000
}

In [ ]:
# company['emp004']
company.get('website')

In [ ]:
if 'website' in company:
    print('website exists in dict')

In [ ]:
print(company.keys())
print(company.values())

In [ ]:
print(company.items())

In [ ]:
for i in company:
    print(i, company[i])

In [ ]:
for k, v in company.items():
    print(k, v)

In [32]:
for k, v in company.items():
    if isinstance(v, dict):
        print(k)
        for key, value in v.items():
            print("--->",key, value)
    else:
        print(k, v)

emp001
---> name Amar Kumar
---> designation Assistant III
---> salary 32000
emp002
---> name Ranu Singh
---> designation Staff Officer
---> salary 89000
total_emp 3
department Accounts
vacancy ['clerk', 'manager', 'assistant I']
name Acme inc.
emp003
---> name Ajay verma
---> designation clerk
---> salary 45000