In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [ ]:
print(plt.style.available)
plt.style.use('ggplot')

- load & select the data (1% - 10%)
- process the data (60% - 80%)
- visualize the data ( ~%)

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
canada = pd.read_excel('Canada.xlsx', sheet_name=1, skiprows=20, skipfooter=2)

- DataFrame -> 2D matrix with rows and cols
- Series -> 1D matrix with 1 cols

### selection of data
- head() - top 5
- tail() - last 5
- sample() - random record

In [ ]:
canada.head(3)

In [ ]:
canada.sample()


- single column
    - dict style
    - object 
- multiple columns
    - list style

In [ ]:
canada['OdName']

In [ ]:
canada.OdName

In [ ]:
cols = ['OdName', 1980, 1990, 2000, 2010]
canada[cols] # list of columns -> returns dataframe

Row wise slicing
- iloc[ ] - indexed location
- loc[ ] - labelled location

In [ ]:
canada.iloc[66]

In [ ]:
canada.index

In [ ]:
canada.set_index('OdName', inplace=True) # set the 'OdName' column as the index

In [ ]:
canada.index

In [ ]:
canada.loc['Cambodia']

In [ ]:
years = list(range(1980, 2014))
print(years)

In [ ]:
canada.loc['Japan', years].plot(kind='area', title='Japans Immigration to Canada', 
    figsize=(15,5))

In [ ]:
countries = ['Cambodia','Japan','France']
canada.loc[countries, years]

In [ ]:
canada.loc[countries, years].T.plot(kind='line', title=f'{", ".join(countries)}', 
    figsize=(15,5))
plt.savefig('comparing-3-countries.png')

sort_index helps to sort the index of the dataframe if it is not sorted

In [ ]:
canada.sort_index(ascending=False)

sort_values() help us to sort the values in ascending or descending order of given column.

In [ ]:
canada.sort_values(by='AreaName', inplace=True)

In [ ]:
canada.sort_values(by=['AreaName','DevName'], ascending=[True,False])

filter

In [ ]:
canada['AreaName'] == "Africa" # filter

In [ ]:
canada[canada['AreaName'] == "Oceania"]

In [ ]:
# display only those records where in the column '2013' the value is greater than 20000
canada[canada[2013]>20000]

stats and maths

In [ ]:
canada.describe() # for numerical columns

In [ ]:
canada.describe(exclude=np.number) # every column except for the numeric ones

In [ ]:
canada[[1980,1990,2000,2010]].agg(['mean','median'])

In [ ]:
canada['AreaName'].value_counts()

In [ ]:
canada['DevName'].value_counts()

add column

In [ ]:
canada[years].sum(axis=1) # TOtal immigration for each country

In [ ]:
canada['Total'] = canada[years].sum(axis=1) # a new column Total will be added to end of DataFrame

In [ ]:
canada.head(2)

remove column

In [ ]:
cols_to_drop = ['Type','Coverage','AREA','REG','DEV']
canada.drop(columns=cols_to_drop, inplace=True)
canada

In [ ]:
canada.drop_duplicates(subset=['AreaName']) # just an example

renaming columns

In [ ]:
canada.sample()

In [ ]:
canada.rename(mapper={
    'AreaName': 'Continent',
    'RegName': 'Region',
    'DevName': 'Status'
}, axis=1, inplace=True)

In [ ]:
canada.head(2)

reordering the column sequence

In [ ]:
updated_list = ['Status', 'Continent', 'Region', 'Total']+years
print(updated_list)

In [ ]:
canada = canada[updated_list] # reordering columns

In [ ]:
canada.head(2)

grouping

In [ ]:
canada.groupby('Status').get_group('Developed regions')

In [ ]:
canada.groupby('Continent').get_group('Europe')

In [ ]:
canada.groupby('Status')[[2000,2010]].sum()

In [ ]:
canada.groupby('Status')[[2000,2010]].sum().plot(kind='pie', 
                                                 subplots=True, 
                                                 autopct='%1.1f%%',
                                                 figsize=(5,10),
                                                 layout=(2,1))

In [ ]:
canada.groupby('Continent')['Total'].sum()

In [ ]:
canada.groupby('Continent')['Total'].mean()

In [ ]:
canada.groupby('Continent')['Total'].agg(['mean','median'])

In [ ]:
canada.groupby(['Continent','Region'])['Total'].sum().reset_index()

pivot

In [ ]:
canada.pivot_table(columns='Status', index='Continent', 
                   values='Total', aggfunc=['min','max'])

In [ ]:
penguins = sns.load_dataset("penguins")
penguins.columns

In [ ]:
penguins_pivot = penguins.pivot_table(index='species',columns='island',
                                      values='flipper_length_mm')
penguins_pivot

In [ ]:
penguins_pivot.plot(kind='bar', stacked=True, figsize=(10, 5))

In [109]:
penguins_pivot.replace(np.nan, 0, inplace=True)

In [110]:
penguins_pivot.astype(int)

island     Biscoe  Dream  Torgersen
species
Adelie        188    189        191
Chinstrap       0    195          0
Gentoo        217      0          0

In [112]:
canada.to_csv('cleaner_canada.csv')